<template name="registration">

  <div class="row login-container animated fadeInUp block_register">

    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 tiles white no-padding">

      <div id="registration-row" class="row ">

        <div class="col-md-12 ">

          <h3 class=" m-b-30 m-t-30 text-center m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">Register <span class="semi-bold">Here</span></h3>

          {{ #if isRegistrationSuccessful }}
              {{> registrationSuccessful }}
          {{ else }}
            {{> registrationForm }}
          {{ /if }}

        </div>

      </div>

      {{> footer }}

    </div>

  </div>

</template>