body {
    width:100%;
    height:100%;
    background-image: url('/packages/squiddy-dependency/public/assets/img/work.jpg');
}
#login-title {
    text-align: center;
}

.login-title-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

#error-login-message{
    margin-top: 0px;
    margin-bottom: 0px;
}


#error-login-message p {
    font-size: 14px;
}

#facebook-button {
    position: relative;
    left: 3px;
    top: 1.5px;
}

/*
.form-group {
    margin-bottom: 0px;
}
*/

#login-form .error {
   color: #f35958;
}